In [1]:
from datetime import date
from google_analytics_module.services.google_analytics_service import GoogleAnalyticsService

google_analytics_service = GoogleAnalyticsService()
start_date = date(2024,4,1)
end_date = date(2024,10,1)
# dataset_id = "0QK91R12"
sessions_by_landing_page_df = google_analytics_service.get_sessions_by_landing_page_as_df(None, start_date, end_date)

In [6]:
sessions_by_landing_page_df

,customEvent:DatasetID,landingPage,sessions,start_date,end_date
0,(not set),(not set),22465,2024-04-01,2024-10-01
1,(not set),/,16017,2024-04-01,2024-10-01
2,,/,16007,2024-04-01,2024-10-01
3,(not set),/search,3004,2024-04-01,2024-10-01
4,,/search,3000,2024-04-01,2024-10-01
...,...,...,...,...,...
65321,CISADOC1,/thesaurus/13126-Housing,1,2024-04-01,2024-10-01
65322,CISADOC1,/thesaurus/13135-Independent_Living_Units,1,2024-04-01,2024-10-01
65323,CISADOC1,/thesaurus/13177-Residential_Aged_Care_Facilit...,1,2024-04-01,2024-10-01
65324,CISADOC1,/thesaurus/13184-Group_Homes,1,2024-04-01,2024-10-01
65325,CISADOC1,/thesaurus/14439-Water_Skiing,1,2024-04-01,2024-10-01