In [5]:
from data_retrieval.google_analytics_api_retrieval import GoogleAnalyticsFilterClause, PageDto
from data_retrieval.google_analytics_data import GoogleAnalyticsData
from datetime import date

from dtos.date_range_dto import DateRangeDto
CLIENT_SECRETS_FILE_PATH = './credentials/credentials.json'
TOKEN_FILE_PATH = './credentials/token.json'
ga_data = GoogleAnalyticsData(CLIENT_SECRETS_FILE_PATH, TOKEN_FILE_PATH)
filter_clause = GoogleAnalyticsFilterClause()
# comment this line to set dataset id to fetch data for all councils
filter_clause.set_dataset_id('06COP17')
filter_clause.set_date_range(DateRangeDto(start_date=date(2022,1,1), end_date=date(2023,1,1)))
filter_clause.set_page_dto(PageDto(10000, None))
run_id = ga_data.save_data(filter_clause=filter_clause)
print('run id ', run_id)

run id  1791f7d3-baaa-4630-a74e-a8b3f21263fa

In [6]:
from helpers.cu_dataset_reader import read_cu_dataset_settings_pdf
pdf_file = './settings/CU datasets settings _ SAcommunity - Connecting Up Australia.pdf'
datasets_df = read_cu_dataset_settings_pdf(pdf_file, return_dataframe=True)

In [7]:
datasets_df

   dataset_id                                    council_name
0     08ADE17                           Adelaide City Council
1    12JHTUS1                          Adelaide Hills Council
2    14MALL01               Adelaide Plains Council (Mallala)
3    0A4A77Q4                             Alexandrina Council
4     09APY17           Anangu Pitjantjatjara Yankunytjatjara
..        ...                                             ...
90   14WCC284  Whyalla Council (City of Whyalla) 118x14 0.87k
91   09WUDD17                        Wudinna District Council
92   09YALA17                       Yalata Commu nity Council
93   09YANK17                              Yankalilla Council
94   09YOPC17                         Yorke Peninsula Council

[95 rows x 2 columns]

In [8]:
datasets_df[datasets_df['dataset_id'] == '06COP17']

   dataset_id                   council_name
71    06COP17  Prospect Council 118x14 0.87k